@import "~bulma/sass/utilities/initial-variables"

// Config
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.label-box
  font-size: .60em

body 
  background-color: #495450
 
nav.navbar
  background-color: #495450

.navbar a
  color: white

div.content
  color: white

div.content h1
  color: white

div.section h1
  color: white

div.section h2
  color: white

.container
  background-color: #495450

.blogpost-box  
  border: 1px solid white
  padding: 2em 4em
  margin-top: 1em
  backgroundColor: #495450
  color: white

div.label-box a
  color: white
  

@import "~bulma"

@import "~bulmaswatch/minty/_variables.scss"

@import "~bulmaswatch/minty/_overrides.scss"
